body {
  background: #0a0f1f;
  font-family: Arial;
  color: #fff;
  margin: 0;
}

.topo {
  text-align: center;
  padding: 20px;
  background: #111828;
}

.produtos {
  padding: 20px;
}

.foto {
  width: 100%;
  max-width: 350px;
  display: block;
  margin: 10px auto;
  border-radius: 10px;
}

.btn {
  display: inline-block;
  background: #ff5050;
  padding: 12px 20px;
  text-decoration: none;
  color: #fff;
  border-radius: 8px;
  font-size: 18px;
}

.contato {
  text-align: center;
  padding: 20px;
}
